
<h2>Estudantes</h2>
<ul class="estudantes">
    <li *ngFor="let estudante of Estudantes">
        <a routerLink="/detail/{{estudante.id}}">
          <span class="badge">{{estudante.id}}</span> {{estudante.name}}
        </a>
        <button class="delete" title="delete " (click)="delete(hero)">x</button>
      </li>
    </ul> 
    <div>
      <label for="estudante-hero">Estudante name: </label>
      <input id="estudante-hero" #estudanteName />
      <!-- (click) passes input value to add() and then clears the input -->
      <button class="add-button" (click)="add(estudanteName.value); estudanteName.value=''">
        Add estudante
      </button>
    </div> 