<div *ngIf="selectedAluno">

    <h2>Detalhes de {{selectedEstudante.nome | uppercase}}</h2>
    <div>
        <label for="nome-aluno">Nome do Aluno: </label>
        <input id="nome-aluno" [(ngModel)]="selectedAluno.nome" placeholder="nome">
    </div>
    <div><span>Id: </span>{{selectedEstudante.id}}</div>
    <div><span>Idade: </span>{{selectedEstudante.idade}}</div>
    <div><span>Altura: </span>{{selectedEstudante.altura}}</div>
    <div><span>Peso: </span>{{selectedEstudante.peso}}</div>

    <h2>Alunos</h2>
<ul class="aluno">
    <li *ngFor="let aluno of alunos" [class.selected]="aluno === selectedAluno" (click)="onSelect(aluno)">
        <span class="badge">{{estudante.id}}</span> {{estudante.nome}}
    </li>
</ul> 